@import "_colores.scss";
@import "_fuentes.scss";
@import "_responsive.scss";

body{
    padding: 1rem;
    margin: 0 auto;
}

header{
    background-color: $color-primario;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#logo .material-icons{
    font-size: 3rem;
    color: $color-terciario;
}

header h1{
    font-size: 1.8rem;
    font-family: $fuente-titulos;
    color: $color-terciario;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a{
    font-family: $fuente-parrafos;
    color: $color-terciario;
    text-decoration: none;
    padding: 0.2rem;
}

#menuMovil{
    display: none;
}

main{
    background-color: $color-primario-40;
}

section{
    display: flex;
    flex-wrap: wrap;
    margin: 0.4rem;
}

article{
    flex: 25%;
    margin: 0.4rem;
    margin-bottom: 1rem;
    flex-shrink: 1;
    
}

video{
    width: 100%;
    border-radius: 0.5rem;
}

iframe{
    width: 100%;
    height: 100%;
    min-height: 240px;
    border-radius: 0.5rem;
}

.videoControl{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.videoControl button{
    margin: 0.5rem;
    background-color: $color-primario-80;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

.videoControl button:hover{
    background-color: $color-secundario;
}

footer{
    background-color: $color-primario;
    display: flex;
    justify-content: space-between;
}

footer section p{
    font-family: $fuente-parrafos;
    color: $color-terciario;
    font-size: 1rem;
    text-align: center;
}

//MediaQueries para tamaños de pantalla: moviles
@media screen and (max-width: $tamanio-movil){
    #logo .material-icons{
        font-size: 1.5rem;
    }
    
    header h1{
        font-size: 1rem;
        margin-left: 5%;
    }

    nav ul{
        display: none;
    }
    
    #menuMovil{
        display: block;
        color: $color-terciario;
    }

    main{
        flex-direction: column;
    }

    section{
        flex: 100%;
    }

    article{
        flex: 100%;
    }

    .videoControl button{
        margin: 0.5rem;
        background-color: $color-primario-80;
        border-radius: 10px;
        border: none;
        color: white;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        cursor: pointer;
    }

    footer{
        flex-direction: column;
    }

    footer section p{
        font-size: 0.8rem;
        text-align: center;
    }
}

//MediaQueries para tamaños de pantalla: tablets
@media screen and (min-width: $tamanio-movil) and (max-width: $tamanio-tablet){
    #logo .material-icons{
        font-size: 2rem;
    }
    
    header h1{
        font-size: 1.5rem;
        margin-left: 5%;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
    }
    
    #menuMovil{
        display: none;
    }

    main{
        flex-direction: row;
        flex-wrap: wrap;
    }
  
    main section{
        flex: 45%;
    }

    article{
        flex: 100%;
    }

    .videoControl button{
        margin: 0.5rem;
        background-color: $color-primario-80;
        border-radius: 10px;
        border: none;
        color: white;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        cursor: pointer;
    }

    iframe{
        min-height: 350px;
    }

    footer{
        flex-direction: row;
    }

}

@media (min-width: $tamanio-tablet){
    video{
        min-width: 400px;
    }
    
    iframe{
        min-width: 400px;
    }
}