header{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: monospace;
    text-align: center;
}

.video{
    width: 700px;
}

.controles{
    display: flex;
    justify-content: center;
}

.controles button{
    background-color: #4CAF50;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    cursor: pointer;
}

.controles button:hover{
    background-color: #285f2b;
}



