// Variables para fuentes //
    $fuente-titulos: 'Open Sans', sans-serif;
    $fuente-parrafos: 'Bitter', serif;
    
    $fuente-primaria: 'Courier New', Courier, monospace;
    $fuente-secundaria: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
