//Variables
$backgroundColorBody: #444;
$backgroundColorHeader: rgb(29, 87, 211);
$backgroundColorheaderImg: rgb(44, 114, 87);
$backgroundColorNav: rgb(78, 86, 102);
$backgroundColorHover: saddlebrown;
$backgroundColorPrincipal: rgb(104, 29, 155);
$backgroundColorLateral: rgb(17, 47, 110);
$backgroundColorFooter: #fff;
$TextColorHover: rgb(188, 170, 255);
$fontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;