body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:996px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:237px;
  width:300px;
  height:170px;
  display:flex;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:187px;
  width:300px;
  height:30px;
  display:flex;
  text-align:center;
}
#u193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Bold", "Montserrat", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:60px;
  width:314px;
  height:39px;
  display:flex;
  font-family:"Montserrat Bold", "Montserrat", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:985px;
  height:17px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:109px;
  width:976px;
  height:8px;
  display:flex;
  color:#942F36;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:520px;
  width:47px;
  height:50px;
  display:flex;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:520px;
  width:47px;
  height:50px;
  display:flex;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat SemiBold", "Montserrat", sans-serif;
  font-weight:600;
  font-style:normal;
  color:#942F36;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:535px;
  width:91px;
  height:20px;
  display:flex;
  font-family:"Montserrat SemiBold", "Montserrat", sans-serif;
  font-weight:600;
  font-style:normal;
  color:#942F36;
}
#u199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:30px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:135px;
  width:427px;
  height:30px;
  display:flex;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:30px;
}
#u200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
